$colorWhite : #ffffff;
$greyColor:#ababab;
$mainColor:#000000;
$navyBlue:#1A47B8;
$redColor:#F93939;
$bgLinearGradient1: #2752E7;
$bgLinearGradient12: #0B2271;
$colorlightblue:#f5f5f5;
$baseColor: #a9a9a9;
$base2Color:#d0dbff;
$cryptoColor:#050e2c; 
$base3Color: #E8FAFE;  
$frameColor:#091951;
$frame2Color:#F3DE95;
$frame3Color:#f395d9;
$frame4color:#f3f3f3;
$bgColor:#4b82ef;
