body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  padding: 20px 0;
  border: 1px thin black;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo .logo-image img {
  filter: brightness(0) invert(0);
}

nav {
  display: flex;
  gap: 10px;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #000000;
}

.btn-btn .sign-in {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.btn-btn .active {
  background-color: #2752E7;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
}

#hero {
  height: 759px;
  display: flex;
  gap: 20px;
  padding-inline: 5%;
  background-color: #1A47B8;
  border-radius: 5px;
}

.hero-left {
  width: 620px;
}

.hero-left .hero-text h3 {
  width: 618px;
  color: #ffffff;
  padding-top: 80px;
  font-size: 40px;
  font-weight: 700px;
  line-height: 1.25;
  font-style: bold;
  font-family: "yukita Sans";
}

.hero-left .hero-description p {
  width: 604px;
  height: 56px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
  color: #ffffff;
}

.hero-started input {
  border: none;
  outline: none;
  padding: 18px 36px !important;
  border-radius: 10px;
}

.hero-started .active {
  padding: 18px 40px;
  border-radius: 10px;
  margin-left: 10px;
  background-color: #2752E7;
  color: #ffffff;
  border: none;
}

.hero-right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-right .hero-cam1 {
  display: flex;
  justify-content: flex-end;
}

.hero-right .hero-cam1 img {
  margin-left: 100px;
}

.hero-right .converter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 491px;
  width: 420px;
  opacity: 0.8;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.hero-right .converter h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "yukita Sans";
  line-height: 1.4;
  margin-bottom: 0;
}

label {
  font-size: 22px;
  padding-left: 10px;
}

.input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 90%;
  background-color: #ffffff;
  color: #091951;
}

select, input {
  border: none;
  outline: none;
  background-color: #ffffff;
}

input {
  margin-top: 10px;
}

.hero-right .hero-eth {
  display: flex;
  justify-content: flex-start;
}

.hero-right .hero-eth img {
  margin-right: 100px;
  height: 150px;
  width: 150px;
}

.brand {
  height: 82px;
  padding: 24px 120px;
  display: flex;
  justify-content: space-around;
  color: #a9a9a9;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 25px;
}

.benefits {
  height: 184px;
  margin: 0 120px;
  padding: 32px 100px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefit h3 {
  font-size: 50px;
  font-weight: 900;
  padding-left: 30px;
}

.benefit {
  border-right: 1px solid black;
}

.benefits .benefit:last-child {
  border-right: none;
  padding-left: 30px;
}

.benefit p {
  font-size: 20px;
  font-weight: 300;
  padding-right: 50px;
}

.crypto {
  display: flex;
  height: 866px;
}

.crypto-left {
  width: 488px;
  height: 614px;
  padding-left: 120px;
  padding-top: 96px;
}

.crypto-left h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0px;
  font-family: sans-serif;
  color: #050e2c;
}

.crypto-benefit {
  width: 426px;
  border-bottom: 1px solid black;
}

.crypto-benefit .crypto-num {
  display: flex;
  align-items: center;
  gap: 20px;
}

.crypto-benefit .crypto-num span {
  font-size: 30px;
  color: #d0dbff;
  font-weight: 700;
}

.crypto-benefit .crypto-num h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.crypto-benefit p {
  font-size: 20px;
  padding-left: 35px;
  font-weight: 200;
  padding-top: -10px;
}

.crypto-right {
  display: flex;
  gap: 30px;
  width: 775px;
  margin-top: 50px;
  border-radius: 5px;
  height: 816px;
  background-color: #E8FAFE;
  margin-left: 40px;
  padding-left: 80px;
}

.iphone-2, .iphone-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#frame {
  height: 1793px;
  width: 100%;
  background-color: #d0dbff;
}

.flex-frame {
  padding-top: 150px;
  display: flex;
  gap: 24px;
  margin-right: 5%;
}

.item-frame-1 {
  width: 491px;
  height: 693px;
  background-color: #091951;
  border-radius: 10px;
  margin-left: 120px;
  padding-bottom: 30px;
}

.frame {
  padding-left: 33px;
  padding-top: 40px;
}

.portfolio {
  padding: 40px 30px;
}

.portfolio h2 {
  color: #ffffff;
  font-size: 50px;
}

.portfolio p {
  color: #ababab;
  font-size: 18px;
}

.item-frame-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-frame-1 {
  height: 370px;
  background-color: #F3DE95;
  border-radius: 10px;
  display: flex;
}

.frame-1, .frame-2 {
  padding: 30px;
}

.frame-1 img, frame-2 img {
  height: 300px;
}

.text-frame-2 h3, text-frame-3 h3 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.text-frame-2 p {
  margin-top: 0;
  font-size: 14px;
}

.flex-frame-2 {
  background-color: #f395d9;
  height: 340px;
  padding-left: 14px;
  border-radius: 20px;
  display: flex;
  color: #ffffff;
}

.features {
  padding-top: 100px;
}

.started {
  text-align: center;
}

.started h3 {
  font-size: 55px;
  height: 120px;
  width: 515px;
  padding-left: 416px;
  font-weight: 700;
  line-height: 125%;
  margin-bottom: 0;
}

.started p {
  font-size: 23px;
  padding-left: 20px;
}

.grid-features {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
}

.feature-item {
  height: 380px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #e3e3e3;
  text-align: center;
}

.text-feature h4 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 0;
}

.text-feature p {
  font-size: 18px;
  padding-inline: 10px;
  margin-top: 0;
  padding-top: 10px;
}

.testimonial-header h2 {
  text-align: center;
  font-size: 48px;
  line-height: 1.25;
  font-weight: 700;
  font-family: "yukita Sans";
  padding-top: 96px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-row {
  display: flex;
  justify-content: space-evenly;
}

.testimonial-item {
  width: 20%;
  border: 1px solid #a9a9a9;
  border-radius: 10px;
}

.ellipse {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ellipse-text h6 {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 0;
}

.ellipse-text p {
  margin-top: 0;
  padding-top: 5px;
  color: #a9a9a9;
  font-size: 14px;
}

.testimonial-item p {
  text-align: justify;
  padding-inline: 10px;
  color: #a9a9a9;
}

#call-to-action {
  height: 360px;
}

.cta {
  position: relative;
  margin-top: 66px;
  margin-inline: 10%;
  border-radius: 20px;
  height: 328px;
  display: flex;
  justify-content: space-around;
  background-color: #4b82ef;
}

.cta-left h2 {
  width: 60%;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
}

.cta-left .btn-btn button {
  padding: 18px 40px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

.cta-right {
  margin-right: 20px;
}

.cta-right .btc-img {
  position: absolute;
  right: 200px;
  top: -45px;
}

footer {
  margin: 30px 5%;
  background-color: #2752E7;
  border-radius: 20px;
  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
}

.footer-item h2 {
  padding-left: 30px;
}

.footer-item ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-item ul li {
  list-style: none;
}

.footer-item ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  margin-inline: 2%;
}

.footer-bottom h2 {
  text-align: center;
  font-size: 30px;
}

.footer-bottom .logo-crypto {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-bottom p {
  text-align: center;
}/*# sourceMappingURL=style.css.map */